
# Eclipse files
.classpath
.project
.settings/

# Maven build
target/

# Test reports
test-output/
reports/

# Class files
*.class

# OS files
.DS_Store
Thumbs.dbsrc/test/resources/config.properties
src/test/resources/config.properties
